body {
  background-color: rgb(246, 246, 246);
}

.formPreview {
  display: flex;
}

.form {
  align-items: center;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 25%;
}


.preview {
  align-items: center;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  min-width: 25%;
}

.cardSpace {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-right: 40%;
  min-width: 25%;
}
